PACS/Player
gmcGPU/x64
gmcGPU/JSON
.hg
Patients
*aps
*bin
*csv
*db
*dcm
*db-shm
*db-wal
*dep
*exe
!dcmdump.exe
!findscu.exe
!getscu.exe
!storescu.exe
*htm
*hxx
*idb
*ilk
*jpg
*json
!GMCConfigInstance.json
*lib
*lock
*log
*manifest
*ncb
*npy
*obj
*opt
*pch
*pdb
*plg
*png
*PNG
*pyc
*recipe
*sarif
*suo
*tlog
*txt
!GMC_Install.txt
!dummy.txt
*user
*vsidx













